{% extends "base.html" %}

{% block content %}  
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> 
<script>
	<style>
			.big{
			top:70;
			background-color:white;
			margin-top:80px;
			margin-left:550px;
			margin-right:550px;
			height:200px;
			border-radius: 25px;
			border: 3px solid #4a77d4;
			box-shadow: 6px 8px 4px grey;
			text-align:center;
			}
			.row{

			height:150px;

			}
			.col{
				background-color:white;
				color: #6610f2;
				font-family: bold 15px Arial,Times New Roman;
				margin:10px;
				margin-left:50px;
				margin-right:50px;
				border-radius: 25px;
				border: 1px solid #4a77d4;
				box-shadow: 3px 8px 4px white;
				text-align:center;
			}
			.ext{
			margin-top:25px;
			line-height:40px;
			}
			.ext1{
			margin-top:40px;
			line-height:50px;
			font-size:25px;
			color:#f95450;
			}

	</style>
</script>
	<div class="container is-widescreen">
		<div class="notification is-link">		
			<div class="title">
				<h1><strong>WALLET BALANCE STATUS</strong></h1>
			</div>			
			<div class="big my-5">
				<div class="ext1">			
					<font size="5px">{{b}}</font>
					<br>
					<h2><strong>Current Balance {{ pred }}</strong></h2>	
				</div>
			</div>
		</div>			
	</div>
	<div style="color:mediumvioletred;" align=center><h2><strong>{{ message }}</strong></h2></div>
	
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
{% endblock %}